<head>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>


  <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
  
  

<form id="alarmForm">
  <label for="selectedAlarmTime">Start time: </label>
  <input type="time" id="selectedAlarmTime">
</form>


<button type="button" onclick="updateAlarmState()">Set Alarm!</button>

<label class="switch"><input type="checkbox" id="alarmToggle" onclick="toggleAlarmState()">
  <div class="slider round">
    <span class="on">ON</span><span class="off">OFF</span>
  </div>
</label>

<p>
  Curtains set to open at time: <code>
          "<span id="showSelectedAlarmTime">n/a</span>"</code>.
</p>

</body>







<script type="text/javascript">
	
	var timeSpan = document.getElementById("showSelectedAlarmTime");
  var valueSpan = document.getElementById("value");
  var alarmState = "off";

	selectedAlarmTime.addEventListener("input", function() {
		valueSpan.innerText = selectedAlarmTime.value;
		$("alarmForm").submit();
	}, false);	

  function toggleAlarmState() {
    var checkBox = document.getElementById("alarmToggle");
    if (checkBox.checked == true){
      alarmState = "on";
      updateAlarmState();
    }
    else {
      alarmState = "off";
      updateAlarmState();
    }
}

function updateAlarmState(){

  timeSpan.innerText = selectedAlarmTime.value;

  $.ajax({
      type: "POST",
      url: "/",
      // The key needs to match your method's input parameter (case-sensitive).
      data: JSON.stringify({ time: selectedAlarmTime.value, alarmState: alarmState}),
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      success: function(data){alert(data);},
      failure: function(errMsg) {
          alert(errMsg);
      }
  });
}
</script>
